body {
    background: url('imgs/background.svg');
    background-size: inherit;
    background-size: initial;
    background-size: unset;
    /* background: #0a0133; */
    font-family: itc-avant-garde-gothic-pro, sans-serif;
    font-style: normal;
}

#square {
    background-color: #463aa0;
    border: 0px solid rgb(255, 255, 255);
    color: #fff;
    border-radius: 5px;
}

#square:hover {
    background-color: #6f60e2;
    color: #fff;
    border-radius: 5px;
}

#square.active {
    background-color: #442fff;
    color: #fff;
    border-radius: 5px;
}

.pads {
    display: grid;
    grid-gap: 100px;
    grid-template-columns: repeat(4, 200px);
    grid-template-rows: repeat(2, 200px);
    position: static;
    /* padding: 1000px 2px 7px 2px; */
}

.piano {
    margin-left: 200px;
    margin-top: -100px;
    margin-bottom: 50px;
}

.card {
    background-color: #0a013300;
    display: flex;
}

.card-img-top {
    width: 100%;
    height: 20%;
}

.card-group {
    height: 20%;
}

.card-text {
    color: #ffffff;
}

.card-title {
    color: #ffffff;
    font-size: 2.0rem;
}

.blurb h2 {
    color: #ffffff;
    font-weight: 700;
    font-size: 8.0rem;
}

.blurb h3 {
    color: #20a091;
    font-weight: 700;
    font-size: 4.0rem;
}

.blurb p {
    color: #ffffff;
    font-weight: 20;
    font-size: 2.15rem;
    line-height: 2;
}

.p {
    font-weight: 100;
    font-size: 12.125rem;
}

.content {
    margin-top: 100px;
    margin-bottom: 100px;
}

#mainNavbar {
    font-size: 1.5rem;
    font-weight: 100;
}

#mainNavbar .nav-link {
    color: white;
}

#mainNavbar .nav-link:hover {
    color: #eeff00;
    /* padding: 1px 2px 1px 2px; */
    border-bottom: 5px solid #eeff00;
    ;
}

.navbar-light .nav-item.active .nav-link,
.navbar-light .nav-item .nav-link:active,
.navbar-light .nav-item .nav-link:focus,
.navbar-light .nav-item:hover .nav-link {
    color: #00B159;
}

#mainNavbar .navbar-brand {
    color: #ffffff;
    font-size: 2.5rem;
}

#headingGroup span {
    color: #ea1c2c;
}

#headingGroup h1 {
    font-weight: 100;
    font-size: 4rem;
}

.navbar.scrolled {
    /* background: #0a013309;
    ;
    transition: background 500ms; */
}

@media (max-width:1200px) {
    #headingGroup h1 {
        font-weight: 100;
        font-size: 3rem;
    }
    .blurb h2 {
        font-size: 2rem;
    }
    .pads {
        display: grid;
        grid-gap: 150px;
        padding-top: 20px;
        grid-template-columns: repeat(2, 200px);
        grid-template-rows: repeat(4, 200px);
        position: static;
        margin-bottom: 50px;
        /* padding: 1000px 2px 7px 2px; */
    }
    .piano {
        margin-left: 50px;
        margin-top: -100px;
        margin-bottom: 10px;
    }
    .piano h3 {
        padding-top: 300px;
    }
}

@media (max-width:700px) {
    #headingGroup h1 {
        font-weight: 100;
        font-size: 3rem;
    }
    .blurb h2 {
        font-size: 2rem;
    }
    .pads {
        display: grid;
        grid-gap: 70px;
        grid-template-columns: repeat(1, 200px);
        grid-template-rows: repeat(8, 200px);
        position: static;
        margin-bottom: 50px;
        /* padding: 1000px 2px 7px 2px; */
    }
    .piano h3 {
        /* visibility: hidden; */
    }
}

.btn-warning {
    background-color: #eeff00;
    border: 0px;
    border-radius: 12px;
}

#magic-line {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100px;
    height: 4px;
    background: #eeff00;
}